
@{
    ViewBag.Title = "NoResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <header class="major">
        <h2>
            No results found...
        </h2>
    </header>



