
@{
    ViewBag.Title = "IdChecker";
}

<form action="/Isolateds/CheckId" method="post">
    Identification number:<br>
    <input type="text" name="id" required><br><br>
    <input type="submit" value="Check ID">
</form>


