
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>What is coronavirus (COVID-19)?</h2>

<style>
   /* aside {
        width: 40%;
        padding-left: .5rem;
        margin-left: .5rem;
        float: right;
        box-shadow: inset 5px 0 5px -5px #29627e;
        font-style: italic;
        color: #29627e;
    }

        aside > p {
            margin: .5rem;
        }

    p {
        font-family: 'Fira Sans', sans-serif;
    }*/
    .newspaper {
        column-count: 3;
        column-gap: 40px;
        font-family: 'Fira Sans', sans-serif;
    }
</style>
<header>
    Coronaviruses are a large family of viruses that cause respiratory infections. These can range from the common cold to more serious diseases.

    COVID-19 is the disease caused by a new coronavirus. It was first reported in December 2019 in Wuhan City in China.
</header>
<div class="newspaper">
    @*<p>
        <aside>*@
    <h3>Why is my sample being tested?</h3>

    You have been offered a test because:

    You may have previously tested negative for COVID-19 but did have some symptoms that we would normally expect from people with the infection.
    You have not had typical symptoms, but as many people are known to have had this virus and be asymptomatic, we are taking the opportunity to test people whilst they are having another, unrelated, blood test.
    You have been in close contact with an individual suspected of or confirmed to have COVID-19; or you may have been otherwise exposed to the virus.
    You have recovered from COVID-19.
    Testing of your sample will help find out if you may have antibodies to COVID-19 and provide us with a greater understanding about the spread of the virus on the Isle of Man.

    Our knowledge of the virus will grow as new scientific evidence and studies emerge. COVID-19 is a new disease, and our awareness of the body’s immune response to it is limited. We do not know, for example, how long an antibody response lasts, whether the antibodies produced are effective in neutralising the virus, or whether having antibodies means a person cannot transmit the virus to others.
    @*</aside><br />*@
    <h3>What does it mean if I have a positive test result?</h3>

    If you have a positive test result (antibodies are detected), you may have been infected with the virus that causes COVID-19 at some point in the past. There is still a small chance that the antibodies indicate past infection due to other coronaviruses.

    The presence of IgG suggests that the infection happened weeks to months in the past. In some infectious diseases, having IgG gives immunity and protection from catching the disease again. In other diseases, this is not the case. With COVID-19, we do not know yet whether having measurable IgG gives immunity or, if it does, how long the immunity would last. How much it might protect you from catching COVID-19 in the future is unknown.
    <hr />
    <h3>What does it mean if I have a negative test result?</h3>

    A negative test result means that the antibodies to the virus that causes COVID-19 were not found in your sample. In most cases, this will mean that you have not been infected with the virus in the past. Some health conditions might make it difficult for your body to produce antibodies to an infection. However, there is a small chance for this test to give a negative result that is incorrect (false negative) in some people.

    A negative result may occur if you are tested early after exposure to the virus and your body hasn’t had time to produce antibodies to infection. This means that you could possibly still have had COVID-19 even though the test is negative.

    To ensure the safety of our patients and staff, please let us know if you have had a sore throat, fever or other symptoms within the last 2 weeks. If you are currently sick, please talk to your doctor about options for testing and care.


    @*</p>
        <br />*@
</div>
<footer>
    Suspendisse potenti. Sed eu molestie nunc. Proin venenatis consequat risus, vel lobortis ipsum suscipit nec. Praesent a ornare nisl. Nunc ut pretium neque. Suspendisse at suscipit magna. Vestibulum bibendum turpis massa, eget consectetur arcu dignissim sed. Praesent nec justo felis. Nulla facilisi. Fusce porttitor sed urna vitae faucibus. Maecenas nec libero id orci gravida pharetra sit amet ut risus. Proin vitae pretium turpis, vel iaculis neque. Sed scelerisque aliquam lorem vitae porta. Ut interdum vulputate quam sit amet eleifend. Pellentesque rutrum orci eget metus pharetra bibendum.
</footer>

