@{
    ViewBag.Title = "Treatment Centers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center;color:darkblue;font-size:300%;">@ViewBag.Title</h1>
<!--<h3>@ViewBag.Message</h3>-->
<p>    </p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 300px;
        /*widows: 500px;*/
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        background-color:cornsilk;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div id="map"></div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 32.057472, lng: 34.857500
            },
            zoom: 17,
            disableDefaultUI: true
        });
    }</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlqMNjOukkIGtgSq9VLZgI0gL433XPy0A&callback=initMap">
</script>

<table class="table table-condesed table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Area</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">  </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Center</td>
            <td>Tel-Aviv</td>
            <td>Gani-Yehosoha</td>
            <td>
                <div id="store1">
                    <button type="button">Show on map</button>
                </div>
            </td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>North</td>
            <td>Haifa</td>
            <td>Kadushi-Yasi</td>
            <td>
                <div id="store2">
                    <button type="button">Show on map</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Center</td>
            <td>Tel-Aviv</td>
            <td>Expo Tel-Avivs</td>
            <td>
                <div id="store3">
                    <button type="button">Show on map</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $("#store1").click(function () {


            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 32.057472, lng: 34.857500 },

                zoom: 16,
                disableDefaultUI: true
            });

            var marker = new google.maps.Marker({
                position: { lat: 32.057472, lng: 34.857500 },
                map: map

            });
        });
    })</script>
<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- store 2 -->


<script type="text/javascript">
    $(document).ready(function () {
        $("#store2").click(function () {


            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 32.788832, lng: 34.987544 },
                zoom: 16,
                disableDefaultUI: true
            });
            var marker = new google.maps.Marker({
                position: { lat: 32.788832, lng: 34.987544 },
                map: map

            });

        });
    })</script>
<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- store 3 -->


<script type="text/javascript">
    $(document).ready(function () {
        $("#store3").click(function () {


            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 32.149164, lng: 34.85613 },
                zoom: 16,
                disableDefaultUI: true
            });

            var marker = new google.maps.Marker({
                position: { lat: 32.149164, lng: 34.85613 },
                map: map

            });
        });
    })</script>
<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->


<h3 style="color:tomato;">
 Our Page For Getting Information :
</h3>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="RhBCLLjf"></script>



<div class="fb-page" data-href="https://www.facebook.com/Corona-Virus-Proj-104880671287712/" data-tabs="timeline" data-width="300" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Corona-Virus-Proj-104880671287712/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Corona-Virus-Proj-104880671287712/">Corona Virus Proj</a></blockquote></div>

<div class="fb-like" data-href="https://www.facebook.com/Corona-Virus-Proj-104880671287712/?view_public_for=104880671287712" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>

<br />
