@{
    ViewBag.Title = "Home Page";
}
   <html>
    <head>
        <title>W3.CSS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            body, html {
                height: 100%;
                margin: 0;
            }

        .bg { /* The image used */ background-image: url(woman-in-white.jpg); /* Full height */ height: 100%; /* Center and scale the image nicely */ background-position: center; background-repeat: no-repeat; background-size: cover; }
        </style>
    </head>
    <body>
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="nav-left" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large"
                    onclick="w3_close()">
                Close &times;
            </button>
            <a href="NavigationPagrs/map" class="w3-bar-item w3-button">Map</a>
            <a href="#" class="w3-bar-item w3-button">Statistics</a>
            <a href="#" class="w3-bar-item w3-button">home isolation report for international travelers</a>
            <a href="/Isolateds/Index" class="w3-bar-item w3-button">home isolation report after contact</a>
            <a href="/Recoverings/Index" class="w3-bar-item w3-button">report recovery</a>
            <a href="#" class="w3-bar-item w3-button">public information</a>
        </div>

        <div id="main">

            <div class="w3-teal">
                <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
                @*<div class="w3-container">
                    <h1>My Page</h1>
                </div>*@
            </div>
        </div>

        <script>
            function w3_open() {
                document.getElementById("main").style.marginLeft = "25%";
                document.getElementById("mySidebar").style.width = "25%";
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("openNav").style.display = 'none';
            }
            function w3_close() {
                document.getElementById("main").style.marginLeft = "0%";
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("openNav").style.display = "inline-block";
            }
        </script>
</body>

    </html>







    