﻿@{
    ViewBag.Title = "Home Page";
}

   <html>
    <head>
        <title>W3.CSS</title>
        
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        </head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            body, html {
                height: 100%;
                margin: 0;
            }
            h1 {
                text-shadow: 5px 5px 10px black;
            } 

        .bg { /* The image used */ background-image: url(woman-in-white.jpg); /* Full height */ height: 100%; /* Center and scale the image nicely */ background-position: center; background-repeat: no-repeat; background-size: cover; }
        </style>
    </head>
        <body>
            <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="nav-left" id="mySidebar">
                <button class="w3-bar-item w3-button w3-large"
                        onclick="w3_close()">
                    Close &times;
                </button>
                <a href="/Home/map" class="w3-bar-item w3-button">Map</a>

                @if (Session["Admin"] == "true")
                {
                    <a href="/Home/Statistic" class="w3-bar-item w3-button">Statistics</a>
                }
                    @*@if (Session["Username"] != null)
            {<a href="#" class="w3-bar-item w3-button">home isolation report for international travelers</a>}*@
                @if (Session["Username"] != null)
                {
                    <a href="/Sicks/Create" class="w3-bar-item w3-button">Reoprt for sickness</a>
                }
                @if (Session["Username"] != null)
                {
                    <a href="/Recoverings/Index" class="w3-bar-item w3-button">report recovery</a>
                }
                @if (Session["Admin"] == "true")
                {<a href="/Peoples/Index" class="w3-bar-item w3-button">edit Accounts</a>
                }
                <a href="/Home/Public_information" class="w3-bar-item w3-button">public information</a>
            </div>

            <div id="main">

                <div class="w3-teal">
                    <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
                    @*<div class="w3-container">
                    <h1>My Page</h1>
                </div>*@
                </div>
            </div>

            <script>
                function w3_open() {
                    document.getElementById("main").style.marginLeft = "25%";
                    document.getElementById("mySidebar").style.width = "25%";
                    document.getElementById("mySidebar").style.display = "block";
                    document.getElementById("openNav").style.display = 'none';
                }
                function w3_close() {
                    document.getElementById("main").style.marginLeft = "0%";
                    document.getElementById("mySidebar").style.display = "none";
                    document.getElementById("openNav").style.display = "inline-block";
                }
            </script>
            <div class="jumbotron text-center">
               
                <h1>COVID 19-il Colman Home Page</h1>
                @if (Session["Username"] != null)
                {
                    <p>hellow @Session["Username"]</p>
                }
                <p>keep the mask on and see the effect!</p>
                @if (Session["Username"] == null)
                {
                    <p>please sing-up</p>}
                @if (Session["usertaken"] == "false")
                {
                    Response.Write("<script>alert('you have registerd now go to login')</script>");
                }
            </div>
            <div class="jumbotron text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Covid 19 video</h3>
                            <h1 style="color:blue;text-align:center;">
                                <iframe width="900" height="600" src="https://www.youtube.com/embed/ZvLFz1KSYMA">
                                </iframe>
                        </div>
                      
                        <h1 style="color:blue;text-align:center;">
                            <iframe width="900" height="600" src="https://covid19.who.int/?gclid=Cj0KCQjw0Mb3BRCaARIsAPSNGpXmtTrHOoUWIrHCUlU_XF_4VK5ZayzwzEG6vJg4xGFXbf55gFLPK80aAt3gEALw_wcB">
                            </iframe>
                    </div>
                    </div>
                </div>
            </div>
            

        </body>

    </html>

    