
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Covid 19 video</h3>
            <h1 style="color:blue;text-align:center;"></h1>
            <iframe width="900" height="600" src="https://www.youtube.com/embed/ZvLFz1KSYMA">
            </iframe>
        </div>
    </div>
</div>


