
@{
    ViewBag.Title = "Statistic";
}

<h2>Covid Statistic</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1 style="color:blue;text-align:center;"></h1>
            <iframe width="1000" height="1000" src="https://www.science.co.il/medical/coronavirus/Statistics.php">
            </iframe>
            <iframe width="1000" height="1000" src="https://epidemic-stats.com/coronavirus/israel"></iframe>
            <object data="http://www.web-source.net" width="600" height="400">
               
            </object>
        </div>
    </div>
</div>